<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
    <!-- Authentication -->
    <%- include('partials/auth.ejs') %>

    <!-- Form to create a new task -->
    <%- include('partials/taskCreate.ejs') %>

    <!-- List of tasks -->
    <%- include('partials/tasks')%>
    <%- include('partials/completedTasks')%>

    <!-- Include method override script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/method-override/3.0.0/method-override.min.js"></script>

    <script>
        // Initialize Darkmode.js
        const options = {
          bottom: '64px', // default: '32px'
          right: '32px', // default: '32px'
          left: 'unset', // default: 'unset'
          time: '0.3s', // default: '0.3s'
          mixColor: '#fff', // default: '#fff'
          backgroundColor: '#fff', // default: '#fff'
          buttonColorDark: '#100f2c', // default: '#100f2c'
          buttonColorLight: '#fff', // default: '#fff'
          saveInCookies: true, // default: true,
          label: '🌓', // default: ''
          autoMatchOsTheme: true // default: true
        }
    
        const darkmode = new Darkmode(options);
        darkmode.showWidget();
      </script>
</body>
</html>