<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
    <!-- Authentication -->
    <%- include('partials/auth.ejs') %>

    <!-- Form to create a new task -->
    <%- include('partials/taskCreate.ejs') %>

    <!-- List of tasks -->
    <%- include('partials/tasks')%>
    <%- include('partials/completedTasks')%>

    <!-- Include method override script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/method-override/3.0.0/method-override.min.js"></script>
</body>
</html>